<div class="stats__warrior__element">
    <h3>{{warrior.name}}</h3>
    <ul>
        <li>hp: {{warrior.hp}}</li>
        <li>siła: {{warrior.strength}}</li>
        <li>obrona: {{warrior.defense}}</li>
        <li>Wytrzymałość: {{warrior.stamina}}</li>
        <li>Zwinność: {{warrior.agility}}</li>
    </ul>
</div>