<div style="border: 1px solid black">
    <h2>{{warrior.name}}</h2>
    <p>hp: {{warriorCurrentStats.currentHp}}/{{warrior.hp}}</p>
    <p>tarcza: {{warriorCurrentStats.currentDefense}}/{{warrior.defense}}</p>
</div>