<div class="stats__warrior--simple">
    <h3>{{warrior.name}}</h3>
    {{#if hpDamagee}}
        <p>hp: <span class="damage__text">{{warriorCurrentStats.currentHp}}</span>/{{warrior.hp}} (-{{hpDamagee}})</p>
    {{else}}
        <p>hp: {{warriorCurrentStats.currentHp}}/{{warrior.hp}}</p>
    {{/if}}

    {{#if defenseDamagee}}
        <p>tarcza: <span class="damage__text">{{warriorCurrentStats.currentDefense}}</span>/{{warrior.defense}} (-{{defenseDamagee}})</p>
    {{else}}
        <p>tarcza: {{warriorCurrentStats.currentDefense}}/{{warrior.defense}}</p>
    {{/if}}
</div>