<main>
    <h1>ARENA</h1>

    <h2>Wojownicy</h2>
    <section class="stats__warrior__container">
        {{>warriorStats warrior=warriorOne}}
        <p class="vs">vs</p>
        {{>warriorStats warrior=warriorTwo}}
    </section>

    <h2>Przebieg walki &#9876</h2>
    <section class="fight__logs__container">
        {{#each fightLogs}}
            <div id="fight__log--{{@index}}" class="fight__log__container">
                <p class="background__index">{{@index}}</p>
                <div class="fight__log__element">
                    <h3>{{this.attacker.name}} (Atakujący)</h3>
                    <p>Zadał {{this.attackerDamage}} obrażeń</p>
                </div>

                <div class="fight__log__element">
                    <h3>{{this.attacked.name}} (Broniący)</h3>
                    <p>Broni się, zostały mu zebrane {{this.defenseDamage}} punkt z tarczy i {{this.hpDamage}} punkt życia</p>
                </div>

                <div class="stats__warrior__container--simple">
                    {{#if (comparison this.attacker.id ../warriorOne.id)}}
                        {{>warriorFightStat warrior=this.attacker warriorCurrentStats=this.currentAttacker}}
                    {{else}}
                        {{>warriorFightStat
                                warrior=this.attacked
                                warriorCurrentStats=this.currentAttacked
                                hpDamagee = this.hpDamage
                                defenseDamagee = this.defenseDamage
                        }}
                    {{/if}}

                    {{#if (comparison this.attacker.id ../warriorTwo.id)}}
                        {{>warriorFightStat warrior=this.attacker warriorCurrentStats=this.currentAttacker}}
                    {{else}}
                        {{>warriorFightStat
                                warrior=this.attacked
                                warriorCurrentStats=this.currentAttacked
                                hpDamagee = this.hpDamage
                                defenseDamagee = this.defenseDamage
                        }}
                    {{/if}}
                </div>
            </div>
        {{/each}}

        <div id="fight__log--winner" class="fight__log__container">
            <div class="fight__log__element">
                <h3>Wygrywa!</h3>
                <p class="icon__trophy">&#127942</p>
                <h4>{{winner.name}}</h4>
            </div>
        </div>
    </section>

    <div class="buttons__container">
        <button class="previous__button">poprzedni</button>
        <button class="next__button">następny</button>
    </div>
</main>
<script src="/src/fight-result.js"></script>