<h1>Ściana Chwały</h1>
<table>
    <thead>
        <tr>
            <th>lp.</th>
            <th>Wojownik</th>
            <th>Ilość zwycięstw</th>
            <th>Ilość przegranych</th>
        </tr>
    </thead>

    <tbody>
        {{#each warriors}}
            <tr>
                <td>{{@index}}</td>
                <td><img src="/img/avatars/{{this.avatar}}" alt="">{{this.name}}</td>
                <td>{{this.winFights}}</td>
                <td>{{this.loseFights}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>