<h1>Ściana Chwały</h1>
<table>
    <thead>
        <tr>
            <th>lp.</th>
            <th>Wojownik</th>
            <th>Ilość zwycięstw</th>
            <th>Ilość przegranych</th>
        </tr>
    </thead>

    <tbody>
        {{#each warriors}}
            <tr>
                <td><div class="field--center">{{@index}}</div></td>
                <td><div class="field--left"><img class="avatar__img" src="/img/avatars/{{this.avatar}}" alt="">{{this.name}}</div></td>
                <td><div class="field--center">{{this.winFights}}</div></td>
                <td><div class="field--center">{{this.loseFights}}</div></td>
            </tr>
        {{/each}}
    </tbody>
</table>